body {
  font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
    background-color: #141414;
    margin-top: 70px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 30px;
}

.navbarr {
  position: fixed;
  font-size: 25px;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  padding: 0.3rem 2rem;
  padding-right: 3em;
  background-color: coral;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: #141414;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #000;
}

.navbar-brand {
  padding-top:17px;
  font-size: 30px;
}

@media (max-width:768px) {
  .navbarr {
    padding: 0px 1em 0px 2rem;
    font-size: 15px;
    line-height: 0.4;
  }
  .navbar-nav>li>a {
    line-height: 5px;
  }
}

footer {
  position: fixed;
  bottom: 0;right: 0px;
  font-size: 20px;
}

.card {
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
  color: #fff !important;
  margin-bottom: 1rem !important;
  border: 2px solid #fff;
  background-color: coral;
  max-width:600px;
}
.card-header{
    border-radius: 3px 3px 0 0/23px 23px 0 0;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 2px solid #333;
    font-size: 18px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2px 13px;
    padding-top: 10px;
}

.card-text {
  font-size: 22px;
}

.play {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  color: #fff;
  background-color: #dc3545;
  border-color: #fff;
  padding-bottom: 0px;
  font-size: 25px;
  min-width: 100px;
  margin-bottom: 0px;
}

.play2 {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  color:  #dc3545;
  background-color: #fff;
  border-color:#dc3545;
  padding-bottom: 0px;
  font-size: 25px;
  min-width: 100px;
  margin-top: 15px;
}

.play2:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #fff;
}

.play:hover, .active {
  color: #dc3545;
  background-color: #fff;
  border-color: #dc3545;
}

.points {
  font-size: 40px;
  margin-top: 10px;
  font-family: "Cabin Sketch";
  color: #fff;
}

.new {
  font-size: 50px;
}

.align_right {
  position: relative;
  text-align: right;
}

.check_result {
  font-family: "Neucha";
  color: #FFFF00;
  font-size: 100px;
  font-weight: bold;
}

@media (max-width:850px) {
  .check_result {
    font-size: 70px;
  }
}

@media (max-width: 800px) and (min-width:450px) {
  .points {
    font-size: 30px;
  }
  .card-text {
    font-size: 17px;
  }
}

@media (max-width: 450px) {
  .points {
    font-size: 17px;
  }
  .card-text {
    font-size: 17px;
  }
}
